body, html{
		height: 100%;
		margin: 0;
		font-size: 16px;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		line-height: 1.8em;
		color: #666;
		background-color: black;
}
		
.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	letter-spacing: 8px;
	text-transform: uppercase;
	opacity: 0.9;
	object-fit: cover;
}


.ptext .border{
	background-color: black;
	padding: 20px;
	opacity: 0.8;
}

.ptext .border.trans{
	background-color:transparent;
}

@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}
}

.pimg1, .pimg2, .pimg3{
	position:relative;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin-bottom: 10px;
	margin-top: 10px;
}
		
		
.pimg1{
	background-image:url('car1.jpg');
	min-height: 100%;
	transform:scale(0.85);
}

.pimg2{
	transform:scale(0.9);
}

.pimg3{
	background-image:url('car3.jpg');
	min-height: 450px;
	transform:scale(0.85);
}

.section{
	text-align:center;
	padding: 50px 80px;
	-webkit-box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 1);
-moz-box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 1);
box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 1);
}

.section-light{
	background-color: white;
	color:black;
}

.section-dark{
	background-color: black;
	color:white;
}